@import "reset.css";

/* screens */
@import "components/clock.css";
@import "components/greetings.css";
@import "components/quotes.css";
@import "components/todo.css";

@font-face {
  font-family: "spongeboy";
  src: url("../font/Spongebob-Font/Spongeboy\ Me\ Bob.ttf") format("woff");
}
@font-face {
  font-family: "satisfy";
  src: url("../font/Satisfy/Satisfy-Regular.ttf") format("opentype");
}

.hidden {
  display: none;
}

body {
  height: 100vh;
  font-family: "spongeboy";
  background-image: url("../christmas/spongebob_bg.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  flex-grow: wrap;
}
