#greetings {
  margin-bottom: 30px;
}

#login-form input {
  width: 300px;
  border: none;
  padding: 5px 10px;
  font-family: "spongeboy";
  font-size: 25px;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
}
#login-form input::placeholder {
  color: whitesmoke;
}

.greetings-form__btn {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: white;
}

#greeting {
  font-size: 25px;
}
